<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>首页</title>
</head>

<body>
  {{ if .Debug }}
  {{ template "DebugTemplate" }}
  {{ end }}
  {{ if .Repo.Categories }}
  <h1>分类({{ .Repo.Categories.TotalCount }})</h1>
  <ul>
    {{ range $i, $category := .Repo.Categories.Nodes }}
    <li><a href="#">{{ $i }}. {{ $category.Emoji }} {{ $category.Name }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
  {{ if .Repo.Labels }}
  <h1>标签({{ .Repo.Labels.TotalCount }})</h1>
  <ul>
    {{ range $i, $label := .Repo.Labels.Nodes }}
    <li><a href="#">{{ $i }}. {{ $label.Name }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
  {{ if .Repo.Discussions }}
  <h1>文章({{ .Repo.Discussions.TotalCount }})</h1>
  <ul>
    {{ range $i, $discussion := .Repo.Discussions.Nodes }}
    <li><a href="{{ $discussion.GitHubURL }}">{{ $i }}. {{ $discussion.Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</body>

</html>