<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{ template "HeaderTemplate"}}
  <title> {{ .Data.Discussion.Title }}' </title>
</head>

<body>
  {{ if .Debug }}
  {{ template "DebugTemplate" }}
  {{ end }}
  {{ template "CategoryGroupTemplate" .Data }}
  <h1> {{ .Data.Discussion.Title }} </h1>
  <time>{{ .Data.Discussion.CreatedAt }}</time>
  <article class="markdown">
    <div> {{ .Data.Discussion.BodyHTML }} </div>
    <div style="display: flex;">
      <label>{{ .Data.Discussion.Category.Name }}</label>
    </div>
    {{ if .Data.Discussion.Labels }}
    <div>
      {{ range $label := .Data.Discussion.Labels.Nodes }}
      {{ template "LabelTemplate" $label }}
      {{ end }}
    </div>
    {{ end }}
    {{ if .Data.Discussion.Comments }}
    <h4>去评论</h4>
    <div>
      {{ range $comment := .Data.Discussion.Comments.Nodes }}
      <p>
        {{ $comment.Body }}
      </p>
      {{ end }}
    </div>
    {{ end }}
  </article>
</body>

</html>